.home-container{
  overflow-x: hidden;
}
.home_header{

    height: 120px;
}
.home_search {
    position: absolute;
    top: 0; 
    left:20px;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
  }
  .home_search .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20px;
    width: 80px;
    height: 80px;
    background: rgb(151, 151, 151);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  .home_search .search:hover {
    cursor: pointer;
  }
  .home_search .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
  }
  .home_search .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
  }
  .home_search input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: rgb(44, 44, 44);
    color: white;
    text-shadow: 0 0 10px rgb(44, 44, 44);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgb(44, 44, 44), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  .home_search input:hover {
    cursor: pointer;
  }
  .home_search input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  .home_search input:focus ~ .search {
    right: -500px;
    background: #151515;
    z-index: 6;
  }
  .home_search input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
  }
  .home_search input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  .home_search input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }
  .home_title_text{
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
      float: left;
      width: 100%;
      line-height: 5rem;
  }
  .top-bar{
    position: absolute;
    top: 0; 
    right:50px;
    right: 0;
    bottom: 0;
    width: 300px;
    height:60px;
  }
  .top-bar ul li{
      float: left;
      padding: 10px;
      margin: 16px;
      font-weight: bold;
      font-size: 1rem;
  }
  .top-bar ul li a{
      color: #000;
     
  }
  .home_box{
     
  }
  .home_box .box-item{
    min-height: 300px;   
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;


}
.box-item-section{
    padding: 5px;
}
.box-item-cell{
    position: relative;
}
.box-item-title{
    position: absolute;
    left: 0;
    bottom: 30px;
    height: 3rem;
    line-height: 3rem;
    margin-left: 5px;
    /*transform: translate(-50%,-50%);*/
    text-align: center;
    background: inherit;
    z-index:11;
    box-shadow:  0 0 10px 6px rgba(0,0,0,.5);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding:0 10px;
}
.box-item-img{
    width: 100%;
    min-height: 300px;
    max-height:700px;
}
.box-item-msg{
    position: absolute;
    right: 5px;
    bottom: 15px;
    width: 60%;
    box-shadow:  0 0 10px 6px rgba(0,0,0,.5);
    padding: 5px;
    color: #fff;
    font-size: 1rem;
}

.introduce{
    font-size: .9rem;
}
.address{
    margin-top: 10px;
}
.address i{
    float: left;
    color: #fff;
}
.address p{
    color: #fff;
    margin-left: 20px;
    font-size: 0.8rem;
}

.bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
 
    0% {
    transform:translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
  }
  .home_user_img {
    float: right;
    margin-right: 20px;
    margin-top: -60px;
     width: 30px;
     padding-top:30px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
    -moz-border-radius:50%;
     position: relative;
  }
  .home_user_img img{
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .open-silder-btn{
    display: block;
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 20px;
    top: 73px;
  }
  .bar1{
    width: 20px;
    height:4px;
    background-color: #000;
    border-radius: 100px;
  }
  .bar2{
    width: 30px;
    height:4px;
    background-color: #000;
    border-radius: 100px;
    margin: 5px 0;
  }
  .bar3{
    width: 40px;
    height:4px;
    background-color: #000;
    border-radius: 100px;
  }
  .change .bar1{
   -webkit-transform: rotate(-45deg) translate(-12px,8px);
    transform: rotate(-45deg) translate(-12px,8px);
    -webkit-transition: 1s;
    transition: 1s;
    width: 40px;
  }
  .change .bar3{
    -webkit-transform: rotate(45deg) translate(-4px,-1px);
    transform: rotate(45deg) translate(-4px,-1px);
    -webkit-transition: 1s;
    transition: 1s;

  }
  .change .bar2{
    -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
  
  }

  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }

  @keyframes nav-slide-in-left{
    0%{
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
      opacity: 0;
    }
    100%{
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
  } 
  @-webkit-keyframes nav-slide-in-left{
    0%{
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
      opacity: 0;
    }
    100%{
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
  }
  @-webkit-keyframes nav-slide-out-left{
    0%{
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
    100%{
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
  }
  @keyframes nav-slide-out-left{
    0%{
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
    100%{
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
  }
  /* 侧边栏 */
  .navleft-out{ 
    -webkit-animation: nav-slide-out-left .8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: nav-slide-out-left .8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  .navleft-in{
    -webkit-animation: nav-slide-in-left 1s cubic-bezier(0.01, 0.19, 0.3, 0.5) both;
    animation: nav-slide-in-left 1s cubic-bezier(0.01, 0.19, 0.3, 0.5) both;
  }
  .navigation {
    position: fixed;
    top: 114px;
    left: 8px;
    bottom: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    background-color: #000;
    transition: 0.5s;
    z-index: 100;
}

.navigation .zoom {
    position: absolute;
    right: 0px;
    height: 60px;
    width: 100%;
    transition: all 0.5s;
}

.navigation .zoom span {
    position: relative;
    top: 10px;
    left: 15px;

    height: 100%;
    width: 100%;

    font-size: 2em;
    color: #fff;

    /* 在此处防止文字被从新排版 */
    flex-shrink: 0;
    opacity: 1;

    /* 动画 */
    transition: all .2s;
}

.navigation.zoom .zoom span {
    position: absolute;

    right: 0px;

    height: 100%;
    width: 100%;


    /* 透明度 */
    opacity: 0;

    /* 过度动画 */
    transition: all .2s;
}

.navigation .zoom i{
    position: absolute;
    right: 0px;
    top: 5px;
    /* 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 2em;

    transition: all 0.5s;
}

.navigation.zoom {
    width: 50px;
}

.navigation.zoom .zoom i {
    /* 180足以，540（等与360+180）为了让其更跳脱 */
    transform: rotate(540deg);
    color: #fff;
}


.navigation ul {
    margin-left: 5px;
    margin-top: 50px;
}

.navigation ul li {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    list-style: none;
    transition: all 1s;
    z-index: 2;
}

.navigation ul li div {
    float: right;
    position: absolute;
    right: 0px;
    margin: 20px 0px;
    height: 100%;
    width: 100%;
    border-radius: 100px 0 0 100px;
    transition: all 0.5s;
}
/* .navigation ul li .active {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100px 0 0 100px;
    background: #fff;
} */
.navigation ul li .active {}

@keyframes silder_active{
    
}

.navigation ul li div::before {
    /* content: "";
    position: absolute;
    top: 0px;
    height: 10px;
    width: 100%;
    border-radius: 0 0 10px 0;
    background-color: #000; */
}

/* .navigation ul li div::after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 10px;
    width: 100%;
    border-radius: 0 10px 0 0;
    background-color: #000;
} */
.marker{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  transition: all 500ms;
  z-index:1;
  border-radius: 10px;
}
.navigation ul li a {
    transition: all 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
}

.navigation ul li.active a {
    color: #4d5bf9;
    flex-shrink: 0;
}


.navigation ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    height: 100%;
    width: 40px;
}

.navigation ul li a .title {
    opacity: 1;
    /* 在此处防止文字被从新排版 */
    flex-shrink: 0;
    transition: all .2s;
}

.navigation.zoom ul li a .title {
    opacity: 0;
}


  /* 侧边栏 */
  