.home_header{

    height: 120px;
}
.home_search {
    position: absolute;
    top: 0; 
    left:20px;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
  }
  .home_search .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20px;
    width: 80px;
    height: 80px;
    background: rgb(151, 151, 151);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  .home_search .search:hover {
    cursor: pointer;
  }
  .home_search .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
  }
  .home_search .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
  }
  .home_search input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: rgb(44, 44, 44);
    color: white;
    text-shadow: 0 0 10px rgb(44, 44, 44);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgb(44, 44, 44), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  .home_search input:hover {
    cursor: pointer;
  }
  .home_search input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  .home_search input:focus ~ .search {
    right: -500px;
    background: #151515;
    z-index: 6;
  }
  .home_search input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
  }
  .home_search input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  .home_search input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }
  .home_title_text{
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
      float: left;
      width: 100%;
  }
  .top-bar{
    position: absolute;
    top: 0; 
    right:50px;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
  }
  .top-bar ul li{
      float: left;
      padding: 10px;
      margin: 16px;
      font-weight: bold;
      font-size: 1rem;
  }
  .top-bar ul li a{
      color: #000;
     
  }
  .home_box{
     
  }
  .home_box .box-item{
    min-height: 300px;   
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;


}
.box-item-section{
    padding: 5px;
}
.box-item-cell{
    position: relative;
}
.box-item-title{
    position: absolute;
    left: 0;
    bottom: 30px;
    height: 3rem;
    line-height: 3rem;
    margin-left: 5px;
    /*transform: translate(-50%,-50%);*/
    text-align: center;
    background: inherit;
    z-index:11;
    box-shadow:  0 0 10px 6px rgba(0,0,0,.5);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding:0 10px;
}
.box-item-img{
    width: 100%;
    min-height: 300px;
    max-height:700px;
}
.box-item-msg{
    position: absolute;
    right: 5px;
    bottom: 15px;
    width: 60%;
    box-shadow:  0 0 10px 6px rgba(0,0,0,.5);
    padding: 5px;
    color: #fff;
    font-size: 1rem;
}

.introduce{
    font-size: .9rem;
}
.address{
    margin-top: 10px;
}
.address i{
    float: left;
    color: #fff;
}
.address p{
    color: #fff;
    margin-left: 20px;
    font-size: 0.8rem;
}

.bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
 
    0% {
    transform:translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
  }